# =========================================
# Unreal Engine 5.3 + Visual Studio setup
# Repository root: D:\GitRepositories\VUkhanovRD
# Project folder:  VUkhanovProjectRD
# =========================================

# --- IDE & Editor Configurations ---
.vs/
.vsconfig
.idea/
*.VC.db
*.VC.opendb
*.suo
*.sdf
*.opensdf
*.sln
*.xcodeproj
*.xcworkspace

# --- Compiled Object Files ---
*.slo
*.lo
*.o
*.obj

# --- Precompiled Headers ---
*.gch
*.pch

# --- Dynamic & Static Libraries ---
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# --- Executables ---
*.exe
*.out
*.app
*.ipa

# --- Unreal Generated Project Files ---
*.xcodeproj
*.xcworkspace

# --- Unreal Binaries, Builds, Cache ---
VUkhanovProjectRD/Binaries/*
VUkhanovProjectRD/Build/*
VUkhanovProjectRD/DerivedDataCache/*

# --- Unreal Temporary Folders ---
VUkhanovProjectRD/Intermediate/*
VUkhanovProjectRD/Saved/*
VUkhanovProjectRD/Plugins/*/Intermediate/*
VUkhanovProjectRD/Plugins/*/Binaries/*

# --- Unreal Specific Exceptions ---
!VUkhanovProjectRD/Build/*/
!VUkhanovProjectRD/Build/*/PakBlacklist*.txt
!VUkhanovProjectRD/Build/**/*.ico
*_BuiltData.uasset

# --- Developer & Editor Configs ---
VUkhanovProjectRD/Plugins/Developer/
VUkhanovProjectRD/Builds/
VUkhanovProjectRD/Config/steamvr_ue_editor_app.json
VUkhanovProjectRD/Config/SteamVRBindings/
VUkhanovProjectRD/Platforms/HoloLens/Config/HoloLensEngine.ini

# --- Misc files ---
.DS_Store
Thumbs.db
